@import "tailwindcss";

:root {
  --background: 15 15 15;
  --foreground: 229 231 235;

  --card: 23 23 23;
  --card-foreground: 229 231 235;
  --popover: 23 23 23;
  --popover-foreground: 229 231 235;

  --border: 38 38 38;
  --input: 38 38 38;
  --ring: 100 116 139;

  --muted: 30 30 30;
  --muted-foreground: 156 163 175;

  --primary: 229 231 235;
  --primary-foreground: 15 15 15;

  --secondary: 30 30 30;
  --secondary-foreground: 229 231 235;

  --accent: 38 38 38;
  --accent-foreground: 229 231 235;

  --success: 34 197 94;
  --warning: 250 204 21;
  --destructive: 239 68 68;

  --radius: 0.75rem;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(var(--background));
  color: rgb(var(--foreground));

  font-family: ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans",
    "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";

  font-size: 15px;
  line-height: 1.6;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  width: 5px;
}